.carousel {
  overflow: hidden;
  width: 100%;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  margin: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /*height: 200px;*/
  color: #ffffff;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicators {
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicators > button {
  height: 20px;
  margin: 5px;
}
